<div class="modal-content">
    <div class="modal-header"><h4 class="modal-title">Ajouter un role</h4></div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nom">Nom Role
                </label>
                <div class="col-md-5 col-sm-5 col-xs-10">
                    <input type="text" id="prenom" ng-model="role" name="username" required="required" class="form-control col-md-7 col-xs-12" />
                </div>
                

            </div>
        </form>
        
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveRole(role)">Ajouter</button>
        <button type="button" class="btn btn-default" ng-click="closeModal()">Fermer</button>
    </div>
</div>

