<beans:beans  xmlns="http://www.springframework.org/schema/security"
              xmlns:beans="http://www.springframework.org/schema/beans" 
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">


    <global-method-security />
    <debug/>
    
    <beans:bean id="myAuthenticationSuccessHandler"
        class="com.smi.config.MySimpleUrlAuthenticationSuccessHandler" />
    <beans:bean id="myBasicAuthenticationEntryPoint" class="com.smi.config.MyBasicAuthenticationEntryPoint" />
    <http  auto-config="true" use-expressions="true">
        <intercept-url pattern="/home*" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/>
        <intercept-url pattern="/new**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/edit/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/statistiques/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/dashboard/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/>
        <intercept-url pattern="/create/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/>
        <intercept-url pattern="/rest/**" access="isAuthenticated()"/>
        <http-basic entry-point-ref="myBasicAuthenticationEntryPoint"/>
        <form-login 
            login-page="/login" 
            login-processing-url="/j_spring_security_check"
            default-target-url="/home" 
            authentication-failure-url="/login?error" 
            username-parameter="username"
            password-parameter="password" 
            />
        <logout
            logout-success-url="/login?logout"
            logout-url="/logout"        />
        
        <csrf disabled="true"/>
    </http>
    
    <beans:bean id="userService" class="com.smi.service.ImplUserService">
    </beans:bean>
    <authentication-manager>
        <authentication-provider user-service-ref="userService"/>
    </authentication-manager>
  
</beans:beans>